{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <h3>Tests perform</h3>

{{ form_start(form, { 'style': 'horizontal' }) }}
{{ form_errors(form) }}
{% for test in form.assignedTests %}
    {{ form_row(test.value, {
        'id': 'test-' ~ test.vars.value.id,
        'label': test.vars.value.testType.name ~ ' (Sample #' ~ test.vars.value.sample.id ~ ')'
    } ) }}
{% endfor %}
{{ form_widget(form.save) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.setInterval(function () {
            $.post(
                    '{{ url('nakard_laboratory_test_fetch') }}',
                    {testsIds: [{{ testsIds|join(',') }}]},
                    function (data) {
                        for (key in data) {
                            if(!data.hasOwnProperty(key)) {
                                continue;
                            }
                            $('#' + key).val(parseFloat(data[key]).toFixed(2));
                        }
                    }
            )
        }, 5000);
    </script>
{% endblock %}