{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% if pagination.getTotalItemCount %}
        <table class="table table-bordered table-striped text-left">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            {% for testType in pagination %}
                <tr>
                    <td>{{ testType.id }}</td>
                    <td>{{ testType.name }}</td>
                    <td>{{ testType.description|slice(0,30) }}</td>
                    <td>{{ testType.createdAt|date('Y-m-d H:i') }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('nakard_laboratory_test_type_edit', { 'typeId' : testType.id } ) }}">
                                        Edit type
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <h1>No test types found</h1>
    {% endif %}
{% endblock %}