{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if pagination.getTotalItemCount %}
    <table class="table table-bordered table-striped text-left">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>PESEL</th>
            <th>Registered</th>
            <th>Type</th>
        </tr>
        {% for user in pagination %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.pesel }}</td>
            <td>{{ user.registeredAt|date('Y-m-d H:i') }}</td>
            <td>{{ user.getTypeName}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% else %}
        <h1>No users found</h1>
    {% endif %}
{% endblock %}